<div class="container">
    <p>listado-cliente works!</p>
</div>

<div class="contain table-responsive-sm">
  <table id="idtable" class="table table-striped">
    <thead>
      <tr>
          <th scope="col">#</th>
          <th scope="col">ESF</th>
          <th scope="col">CIL</th>
          <th scope="col">EJE</th>
          <th scope="col">Prisma</th>
          <th scope="col">Distancia</th>
          <th scope="col">Adicion</th>
          <th scope="col">Altura</th>
          <th scope="col">Cantidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
            <td>1</td>
            <td>esf1</td>
            <td>Cil 1</td>
            <td>Eje 1</td>
            <td>Prisma 1</td>
            <td>Dis 1</td>
            <td>Add 1 </td>
            <td>heigth</td>
            <td> 2 </td>
        </td>
      </tr>
      <tr>
        <td>
            <td>1</td>
            <td>esf1</td>
            <td>Cil 1</td>
            <td>Eje 1</td>
            <td>Prisma 1</td>
            <td>Dis 1</td>
            <td>Add 1 </td>
            <td>heigth</td>
            <td> 2 </td>
        </td>
      </tr>
      <tr>
        <td>
            <td>1</td>
            <td>esf1</td>
            <td>Cil 1</td>
            <td>Eje 1</td>
            <td>Prisma 1</td>
            <td>Dis 1</td>
            <td>Add 1 </td>
            <td>heigth</td>
            <td> 2 </td>
        </td>
      </tr>
      <tr>
        <td>
            <td>1</td>
            <td>esf1</td>
            <td>Cil 1</td>
            <td>Eje 1</td>
            <td>Prisma 1</td>
            <td>Dis 1</td>
            <td>Add 1 </td>
            <td>heigth</td>
            <td> 22 </td>
        </td>
      </tr>
      <tr>
        <td>
            <td>1</td>
            <td>esf1</td>
            <td>Cil 1</td>
            <td>Eje 1</td>
            <td>Prisma 1</td>
            <td>Dis 1</td>
            <td>Add 1 </td>
            <td>heigth</td>
            <td> 2 </td>
        </td>
      </tr>
      <tr>
        <td>
            <td>1</td>
            <td>esf1</td>
            <td>Cil 1</td>
            <td>Eje 1</td>
            <td>Prisma 1</td>
            <td>Dis 1</td>
            <td>Add 1 </td>
            <td>heigth</td>
            <td> 22 </td>
        </td>
      </tr>
      <tr>
        <td>
            <td>1</td>
            <td>esf1</td>
            <td>Cil 1</td>
            <td>Eje 1</td>
            <td>Prisma 1</td>
            <td>Dis 1</td>
            <td>Add 1 </td>
            <td>heigth</td>
            <td> 22 </td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
